.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
  position: fixed;
  z-index: 100;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.hamburger-menu .line {
  width: 36px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.left .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.left .line:nth-child(2) {
  opacity: 0;
}

.left .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.right .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.right .line:nth-child(2) {
  opacity: 0;
}

.right .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
