.contact__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem;
    max-width: 100%;
}

@media (max-width: 1020px) {
    .contact__container {
        flex-direction: column;
        align-items: center;
    }
}

.contact__img {
    object-fit: cover;
    border-radius: 8px;
    max-width: 400px;
    max-height: 300px;
}

.contact__form--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    gap: 1rem;
}

.contact__form--container h1 {
    font-size: 2rem;
    margin: 1rem;
}

.contact__form--container p {
    font-size: 1rem;
    margin: 1rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact__form input,
.contact__form textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0.8rem;
    border: 1.5px solid #333;
    font-size: 0.9rem;

    border-radius: 4px;
}

.contact__form textarea {
    height: 120px;
}

.contact__form input:focus,
.contact__form textarea:focus {
    outline: none;
}

.contact__form button {
    height: 48px;
    padding: 0.8rem;
    margin: 0.8rem;
    border: 1px solid #333;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.contact__form button:hover {
    background-color: darkblue;
}

.contact__form button:focus {
    outline: none;
}

.contact__form button:active {
    transform: scale(0.99);
}

.contact__form button:disabled {
    background-color: #818181;
    color: #333;
    cursor: not-allowed;
}

.contact__form button:disabled:hover {
    background-color: #818181;
    color: #333;
}
