@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.container {
  color: #333;
  max-width: 1000px;
  margin: 1rem auto;
}
.main {
  padding: 2rem;
}

.heroSection {
    margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroContent {
  max-width: 450px;
}

.heroTitle {
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: 700;
    line-height: normal;

}

.heroDescription {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.heroActions {
  display: flex;
  flex-direction: row;
}

/* @media (max-width: 600px) { */
/*   .heroSection { */
/*     flex-direction: column; */
/*     align-items: center; */
/*   } */
/*   .heroContent { */
/*     text-align: center; */
/*   } */
/* } */

.seeWorksBtn,
.hireBtn {
  font-size: 0.9rem;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  /* margin-right: 1rem; */
}

.hireBtn {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.hireBtn:hover {
  background-color: #98D9C2;
}

#hero-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.footer {
  padding: 1rem;
  color: #fff;
  text-align: center;
}
