@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    color: #333;
    max-width: 50vw;
    margin: 3rem auto;
}
.main {
    padding: 2rem;
}

.heroSection {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroContent {
    max-width: 450px;
}

.heroTitle {
    font-family: "Lato", sans-serif;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: normal;
}

.heroDescription {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.heroActions {
    display: flex;
    flex-direction: row;
}

/* @media (max-width: 600px) { */
/*   .heroSection { */
/*     flex-direction: column; */
/*     align-items: center; */
/*   } */
/*   .heroContent { */
/*     text-align: center; */
/*   } */
/* } */

.seeWorksBtn,
.hireBtn {
    font-size: 0.9rem;
    /* background-color: #333; */
    background-color: black;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    /* margin-right: 1rem; */
}

.hireBtn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.hireBtn:hover {
    background-color: #98d9c2;
}

#hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.footer {
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.skillTitle {
    font-family: Robot, sans-serif;
    font-size: 2rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.profile__image {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}

.social__links {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: flex-start;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 3rem auto;
}

.description {
    width: 600px;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.email__button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.8rem;
    cursor: pointer;
    margin-right: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 2rem;
}

.available__icon {
    width: 8px;
    height: 8px;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: green;
}

.available__container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.action__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: flex-start;
}

.works_container {
    margin-top: 5rem;
}

.works_container>h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.works_list {
    width: 100%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;

}
