
.blog__container {
    padding: 120px;
    background-color: yellow;
    /* margin: 5rem auto; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
